BasedOnStyle: LLVM
IndentWidth: 4
UseTab: ForIndentation
TabWidth: 4
ColumnLimit: 80
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
    SortPriority: 1
  - Regex: '^".*\.h"'
    Priority: 2
    SortPriority: 2
SpacesBeforeTrailingComments: 1
IndentCaseLabels: true
ConstructorInitializerIndentWidth: 1
NamespaceIndentation: All
