[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.WeatherApplication
Exec=/usr/bin/ru.auroraos.WeatherApplication
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=Internet
OrganizationName=ru.auroraos
ApplicationName=WeatherApplication
ExecDBus=/usr/bin/ru.auroraos.WeatherApplication
